@{
    ViewData["Title"] = "Iniciar Sesión - EcoPlay";
}

<body>
  <header>
     <img class="LogoInicio" src="/img/logo.png" alt="Ecoplay">
  </header>

  <main class="Iniciar">
    <section>
      <h1>Bienvenido de Vuelta</h1>

      <!-- Mensajes -->
      @if (ViewBag.Error != null)
      {
        <div class="alert alert-danger text-center" id="errorMensaje">
          @ViewBag.Error
        </div>
      }

      <form asp-action="IniciarSesion" asp-controller="Account" method="post">
        <input type="text" id="usuario" name="usuario" placeholder="usuario" required >

        <input type="password" id="contraseña" name="contraseña" placeholder="contraseña" required>

        <input type="submit" value="Iniciar sesión">

        <div>
          <a asp-controller="Account" asp-action="Registrarse">¿No tienes cuenta?</a>
        </div>
      </form>
    </section>
  </main>
</body>