@{
    ViewData["Title"] = "Iniciar Sesión - EcoPlay";
}

<body>
  <header>
    <img src="~/img/Logo.png" alt="EcoPlay Logo">
  </header>

  <main>
    <section class="Iniciar">
      <h1>Bienvenido</h1>

      <!-- Mensajes -->
      @if(ViewBag.Mensaje != null)
      {
        <div style="color:green; font-weight:bold;">@ViewBag.Mensaje</div>
      }
      @if (ViewBag.Mensaje != null)
      {
        <div class="alert alert-success text-center">
          @ViewBag.Mensaje
        </div>
      }

      @if (ViewBag.Error != null)
      {
        <div class="alert alert-danger text-center" id="errorMensaje">
            @ViewBag.Error
        </div>
      }

      <form asp-action="IniciarSesion" asp-controller="Account" method="post">
        <label for="usuario">Usuario o correo:</label>
        <input type="text" id="usuario" name="usuario" required>

        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña" required>

        <input type="submit" value="Iniciar sesión">

        <div>
          <a href="#">¿Olvidaste tu contraseña?</a> |
          <a asp-controller="Account" asp-action="Registrarse">¿No tienes cuenta?</a>
        </div>
      </form>
    </section>
  </main>
</body>