@{
    ViewData["Title"] = "Iniciar Sesión";
}
<body>
    <header>
        <img src="" alt="EcoPlay">
    </header>
    <main>
        <form method="post">
        <input type="text" placeholder="Correo Electronico (tutor)" required> 
        <input type="password" placeholder="Contraseña" required> 
        </form>

        <button> Log in</button>
        <a href="">¿Olvidaste tu contraseña?</a>
        <a href="Registrarse.cshtml">¿No tenés cuenta?</a>
    </main>
</body>
