USE [master]
GO
/****** Object:  Database [EcoPlay]    Script Date: 5/11/2025 08:21:32 ******/
CREATE DATABASE [EcoPlay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EcoPlay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EcoPlay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EcoPlay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EcoPlay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EcoPlay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EcoPlay]
GO
/****** Object:  User [alumno]    Script Date: 5/11/2025 08:21:32 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Aspectos]    Script Date: 5/11/2025 08:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aspectos](
	[IDAspectos] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [text] NULL,
	[Precio] [int] NULL,
	[Imagen] [text] NULL,
 CONSTRAINT [PK_Aspectos] PRIMARY KEY CLUSTERED 
(
	[IDAspectos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nivel]    Script Date: 5/11/2025 08:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nivel](
	[IDNivel] [int] IDENTITY(1,1) NOT NULL,
	[puntos] [int] NULL,
	[Errores] [int] NULL,
	[Tiempo] [int] NULL,
	[Completado] [bit] NULL,
 CONSTRAINT [PK_Nivel] PRIMARY KEY CLUSTERED 
(
	[IDNivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nivel-Usuario]    Script Date: 5/11/2025 08:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NivelUsuario](
	[IDNivelUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IDNivel] [int] NOT NULL,
	[AspectoEquipado] [int] NULL,
	[Estrellas] [int] NOT NULL,
 CONSTRAINT [PK_NivelUsuario] PRIMARY KEY CLUSTERED 
(
	[IDNivelUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transacción]    Script Date: 5/11/2025 08:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 5/11/2025 08:21:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[Contraseña] [varchar](50) NULL,
	[Foto] [varchar](50) NULL,
	[IDNivelUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NivelUsuario]  WITH CHECK ADD  CONSTRAINT [FK_NivelUsuario_Aspectos] FOREIGN KEY([AspectoEquipado])
REFERENCES [dbo].[Aspectos] ([IDAspectos])
GO
ALTER TABLE [dbo].[NivelUsuario] CHECK CONSTRAINT [FK_NivelUsuario_Aspectos]
GO
ALTER TABLE [dbo].[NivelUsuario]  WITH CHECK ADD  CONSTRAINT [FK_NivelUsuario_Nivel] FOREIGN KEY([IDNivel])
REFERENCES [dbo].[Nivel] ([IDNivel])
GO
ALTER TABLE [dbo].[NivelUsuario] CHECK CONSTRAINT [FK_NivelUsuario_Nivel]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_NivelUsuario] FOREIGN KEY([IDNivelUsuario])
REFERENCES [dbo].[NivelUsuario] ([IDNivelUsuario])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_NivelUsuario]
GO
USE [master]
GO