USE [master]
GO
/****** Object:  Database [EcoPlay]    Script Date: 16/10/2025 14:12:41 ******/
CREATE DATABASE [EcoPlay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EcoPlay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EcoPlay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EcoPlay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EcoPlay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EcoPlay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EcoPlay]
GO
/****** Object:  User [alumno]    Script Date: 16/10/2025 14:12:41 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Aspectos]    Script Date: 16/10/2025 14:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aspectos](
	[IDAspectos] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [text] NULL,
	[Precio] [int] NULL,
	[Imagen] [text] NULL,
 CONSTRAINT [PK_Aspectos] PRIMARY KEY CLUSTERED 
(
	[IDAspectos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nivel]    Script Date: 16/10/2025 14:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nivel](
	[IDNivel] [int] IDENTITY(1,1) NOT NULL,
	[puntos] [int] NULL,
	[Errores] [int] NULL,
	[Tiempo] [int] NULL,
	[Completado] [bit] NULL,
 CONSTRAINT [PK_Nivel] PRIMARY KEY CLUSTERED 
(
	[IDNivel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nivel-Usuario]    Script Date: 16/10/2025 14:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nivel-Usuario](
	[IDNivelUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IDNivel] [int] NOT NULL,
	[AspectoEquipado] [int] NOT NULL,
	[Monedas] [int] NULL,
	[Estrellas] [int] NULL,
 CONSTRAINT [PK_Nivel-Usuario] PRIMARY KEY CLUSTERED 
(
	[IDNivelUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transacción]    Script Date: 16/10/2025 14:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transacción](
	[IDTransacción] [int] IDENTITY(1,1) NOT NULL,
	[IDNivelUsuario] [int] NOT NULL,
	[IDAspecto] [int] NOT NULL,
 CONSTRAINT [PK_transacción] PRIMARY KEY CLUSTERED 
(
	[IDTransacción] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 16/10/2025 14:12:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Mail] [varchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[Contraseña] [varchar](50) NULL,
	[Foto] [varchar](50) NULL,
	[IDNivelUsuario] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Nivel-Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Nivel-Usuario_Aspectos] FOREIGN KEY([AspectoEquipado])
REFERENCES [dbo].[Aspectos] ([IDAspectos])
GO
ALTER TABLE [dbo].[Nivel-Usuario] CHECK CONSTRAINT [FK_Nivel-Usuario_Aspectos]
GO
ALTER TABLE [dbo].[Nivel-Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Nivel-Usuario_Nivel] FOREIGN KEY([IDNivel])
REFERENCES [dbo].[Nivel] ([IDNivel])
GO
ALTER TABLE [dbo].[Nivel-Usuario] CHECK CONSTRAINT [FK_Nivel-Usuario_Nivel]
GO
ALTER TABLE [dbo].[transacción]  WITH CHECK ADD  CONSTRAINT [FK_transacción_Aspectos] FOREIGN KEY([IDAspecto])
REFERENCES [dbo].[Aspectos] ([IDAspectos])
GO
ALTER TABLE [dbo].[transacción] CHECK CONSTRAINT [FK_transacción_Aspectos]
GO
ALTER TABLE [dbo].[transacción]  WITH CHECK ADD  CONSTRAINT [FK_transacción_Nivel-Usuario] FOREIGN KEY([IDNivelUsuario])
REFERENCES [dbo].[Nivel-Usuario] ([IDNivelUsuario])
GO
ALTER TABLE [dbo].[transacción] CHECK CONSTRAINT [FK_transacción_Nivel-Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Nivel-Usuario] FOREIGN KEY([IDNivelUsuario])
REFERENCES [dbo].[Nivel-Usuario] ([IDNivelUsuario])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Nivel-Usuario]
GO
USE [master]
GO
