@{
    ViewData["Title"] = "Home";
}
<body>
    <header>
            <nav class="navbar bg-body-tertiary">
                <div class="container">
                    <a class="navbar-brand" href="#">
                    <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="perfil" width="30" height="24">
                    </a>
                </div>
            </nav>

         <!-- Nav inicio -->
         <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
            <!-- Logo -->
                <nav class="navbar bg-body-tertiary">
                    <div class="container">
                        <a class="navbar-brand" href="#">
                            <img src="/img/logo.png" alt="Ecoplay">
                        </a>
                    </div>
                </nav>
            <!-- Termina Logo -->
            <!-- Overlay inicio -->
               
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                   <a class="Inicio" href="Index.html">
                            <img src="/img/inicio.png" alt="inicio">
                        </a>
                            </li>
                            <li class="nav-item">
                                   <a class="perfil" href="Perfil.html">
                            <img src="/img/Perfil.png" alt="Perfil">
                        </a>
                            </li>
                             <li class="nav-item">
                                   <a class="Configuracion" href="Configuracion.html">
                            <img src="/img/Configuracion.png" alt="Configuracion">
                        </a>
                            </li>
                             <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                        </ul>
                        <!-- Termina Overlay -->
                    </div>
                </div>
            </div>
        </nav>
         <!-- Nav final -->

    </header>
    <main>
    <div> 
        <h1></h1>
        <img src="" alt="monedas">
    </div>
    <a href=""> <img src="" alt="inventario"></a>
    <a href=""> <img src="" alt="Tienda"></a>
      
    </main>
</body>
