@{
    ViewData["Title"] = "Home";
}

<body class="Home">
    
    <section class="layout">
        <div class="col4Span6 row1Span3">            
            <img src="/img/logo.png" alt="EcoPlay">
            <h2>Aprendé Divirtiéndote</h2>
        </div>

        <a asp-controller="Home" asp-action="niveles" class="col5Span4 row5Span4">
            <div>
                <img src="/img/play.png" alt="Jugar">
            </div>
        </a>
        
        <a asp-controller="Home" asp-action="Inventario" class="col1Span2 row5Span3">
            <div >
                <img src="/img/inventario.png" alt="Inventario">
                <p>Inventario</p>
            </div>
        </a>

        <a asp-controller="Home" asp-action="Perfil" class="col11Span2 row5Span3">
            <div>
                <img src="/img/perfil.png" alt="Perfil">
                <p>Perfil</p>
            </div>
        </a>

    </section>

    
</body>