@{
  ViewData["Title"] = "Aspectos - Ecoplay";
}

 <section class="inventario">
    <body class="fondo">
            <header>
                <a href="Index.html"><img src="/img/Logo.png" alt=""></a>
             <nav>
                 <a href="IniciarSesion.html">Iniciar Sesion</a>
                 <a href="Registrarse.html">Registrarse</a>
             </nav>
     
            </header>
            <main>
         <section class="boton">
             <a href="Index.html"> 
                 <img src="/img/salir.png" alt="salir">
           
             </a>
         </section>
         <section class="Todo">
             <div>  
                 <section class="Seleccionado">
                     <div>
                         <img class = "plataforma"src="/img/plataforma.png" alt="plataforma">
                     </div>
                     <div> 
                         <img class="skin" src="/img/agua.png" alt="skin">
                     </div>
                   
                   </section>
                
             </div>
             <div>  
                 <section class="Aspecto">
                      <h1>Aspecto</h1>
                     <section class="Seleccion">
                         <div> <a href=""> <img src="/img/tacho.png" alt=""></a></div>
                         <div><a href=""><img src="/img/Heroe.png" alt=""></a></div>
                         <div><a href=""><img src="/img/arbol.png" alt=""></a></div>
                         <div><a href=""><img src="/img/agua.png" alt=""></a></div>
                     </section>
                 </section>
             </div>
         </section>
               
       
        
     </main>
       
       
    </body>
    </section>
</html>
