@{
    ViewData["Title"] = "Nivel 2 - EcoPlay";
}

<link rel="stylesheet" href="~/css/nivel2.css" />

<div id="nivel2-container">

    <!-- ESPACIO PARA TU BARRA VERDE SUPERIOR -->
    <div class="espacio-header"></div>

    <h1 class="titulo">Nivel 2</h1>
    <h2 class="subtitulo">Agarra los objetos reciclables</h2>

    <div id="juego-area">
        <img id="personaje" src="~/img/Heroe.png" />
        <img id="tacho" src="~/img/tachoverde.png" />
    </div>

</div>

<script src="~/js/nivel2.js"></script>
