@{
  ViewData["Title"] = "Nivel1";
}


<header>
            <nav class="navbar bg-body-tertiary">
                <div class="container">
                    <a class="navbar-brand" href="#">
                    <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="perfil" width="30" height="24">
                    </a>
                </div>
            </nav>


         <!-- Nav inicio -->
         <nav class="navbar bg-body-tertiary fixed-top">
            <div class="container-fluid">
            <!-- Logo -->
                <nav class="navbar bg-body-tertiary">
                    <div class="container">
                        <a class="navbar-brand" href="#">
                            <img src="/img/logo.png" alt="Ecoplay">
                        </a>
                    </div>
                </nav>
            <!-- Termina Logo -->
            <!-- Overlay inicio -->
            <!-- Bot칩n para abrir el men칰 -->
<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
    aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
    <img src="/img/abrir.png" alt="Abrir men칰">
</button>


<!-- Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Men칰</h5>
    </div>


    <div class="offcanvas-body d-flex flex-column justify-content-between">
        <ul class="navbar-nav flex-grow-1 pe-3">
   <li class="nav-item">
    <a class="Inicio" asp-controller="Home" asp-action="Home">
        <img src="/img/inicio.png" alt="Inicio">
    </a>
    <h4>Inicio</h4>
</li>


<li class="nav-item">
    <a class="perfil" asp-controller="Home" asp-action="Perfil">
        <img src="/img/Perfil.png" alt="Perfil">
    </a>
    <h4>Perfil</h4>
</li>
 <li class="nav-item">
    <a class="Inicio" asp-controller="Home" asp-action="niveles">
        <img src="/img/inicio.png" alt="Inicio">
    </a>
    <h4>Niveles</h4>
</li>


           <li class="nav-item">
                <!-- BOT칍N QUE ABRE EL SUBOVERLAY -->
                <button class="btn-submenu" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasConfig" aria-controls="offcanvasConfig">
                    <img src="/img/configuracion.png" alt="Configuraci칩n">
                </button>
                <h2>Configuraci칩n</h2>
            </li>
           
            <button type="button" class="btn-offcanvas-cerrar" data-bs-dismiss="offcanvas" aria-label="Cerrar">
            <img src="wwwroot/img/cerrar.png" alt="Cerrar men칰">
            <h4>Cerrar</h4>
            </button>
        </ul>


        <!-- Bot칩n de cerrar abajo -->
       
    </div>
</div>
<!-- 游빌 SUBOVERLAY de CONFIGURACI칍N -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasConfig" aria-labelledby="offcanvasConfigLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasConfigLabel">Configuraci칩n</h5>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="offcanvas" aria-label="Close">Cerrar</button>
    </div>


    <div class="offcanvas-body config-body text-center">


        <!-- Opci칩n M칰sica -->
        <div class="config-item">
            <img src="/img/musica.png" alt="M칰sica" class="config-icon">
            <img src="/img/check.png" alt="Activado" class="config-icon">
        </div>


        <!-- Opci칩n Volumen -->
        <div class="config-item">
            <img src="/img/volumen.png" alt="Volumen" class="config-icon">


            <!-- Slider funcional -->
            <input type="range" id="volumeSlider" min="0" max="100" value="80" class="config-slider">


            <!-- Texto din치mico -->
            <span id="volumeLabel" class="config-label">Alto</span>
        </div>


        <button class="btn-terminos" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTerminos">
            T칠rminos y condiciones
        </button>


        <!-- Bot칩n Salir -->
        <img src="/img/salir.png" alt="Salir" class="config-icon salir">
    </div>
</div>


<!-- 游꿧 Script de volumen -->
<script>
document.addEventListener("DOMContentLoaded", () => {
    const slider = document.getElementById('volumeSlider');
    const label = document.getElementById('volumeLabel');


    if (slider && label) {
        slider.addEventListener('input', () => {
            const value = slider.value;


            // Cambiar texto seg칰n valor
            if (value >= 70) {
                label.textContent = 'Alto';
            } else if (value >= 40) {
                label.textContent = 'Medio';
            } else if (value > 0) {
                label.textContent = 'Bajo';
            } else {
                label.textContent = 'Mute';
            }


            // 游댉 Aqu칤 puedes controlar un audio real:
            // const audio = document.getElementById('miAudio');
            // if (audio) audio.volume = value / 100;
        });
    }
});
</script>


<!-- Bootstrap JS (muy importante) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


                        <!-- Termina Overlay -->
                    </div>
                </div>
            </div>
        </nav>
         <!-- Nav final -->


    </header>



    <main class="main-container" style="background-image: url('~/img/fondonivel1.png');">
        <section class="objetos-juego">
            <img src="~/img/banana.png" alt="Banana" class="objeto draggable" data-tacho="inorganico" />
            <img src="~/img/bollo.png" alt="Bollo" class="objeto draggable" data-tacho="organico" />
            <img src="~/img/bolsa.png" alt="Bolsa" class="objeto draggable" data-tacho="organico" />
            <img src="~/img/botella.png" alt="Botella" class="objeto draggable" data-tacho="organico" />
            <img src="~/img/pizza.png" alt="Pizza" class="objeto draggable" data-tacho="inorganico" />
            <img src="~/img/manzana.png" alt="Manzana" class="objeto draggable" data-tacho="inorganico" />
            <img src="~/img/vaso.png" alt="Vasito" class="objeto draggable" data-tacho="inorganico" />
            <img src="~/img/vasoespecial.png" alt="Vaso" class="objeto draggable" data-tacho="organico" />
            <img src="~/img/diario.png" alt="Diario" class="objeto draggable" data-tacho="organico" />
            <img src="~/img/tupper.png" alt="Taper" class="objeto draggable" data-tacho="inorganico" />
            <!-- Puedes agregar m치s si deseas -->
        </section>

        <section class="tachos-container">
    <div class="tacho" data-tacho="organico">
        <img src="~/img/tachoverde.png" alt="Tacho Org치nico" />
    </div>
    <div class="tacho" data-tacho="inorganico">
        <img src="~/img/tachonegro.png" alt="Tacho Inorg치nico" />
    </div>
</section>
    </main>

    <script src="~/js/nivel1.js"></script>

