@{
    ViewData["Title"] = "Nivel 2";
}
<div id="nivel2" class="nivel">
    <div id="area-juego">
        <h2>Nivel 2</h2>
        <p>Agarrá los objetos reciclables</p>

        <!-- Barra de progreso -->
        <div id="barra-container">
            <div id="barra-progreso"></div>
        </div>

        <div id="personaje" class="personaje"></div>
        <div id="contenedor-residuos"></div>
    </div>
</div>

<!-- Overlay al completar -->
<div id="overlayCompletado" class="overlay hidden">
    <div class="overlay-content">
        <h2>¡Nivel completado!</h2>
        <p>¡Felicitaciones! Has reciclado todos los residuos correctamente.</p>
        <a asp-controller="Home" asp-action="niveles" class="btn-volver"><p>⬅</p></a>
    </div>
</div>
 <div id="overlayCompletado" class="overlay-nivel hidden">
    <div class="overlay-box">

        <h2 class="overlay-titulo">¡Nivel completado!</h2>

        <div class="overlay-botones">

            <!-- HOME -->
            <a asp-controller="Home" asp-action="Home" class="overlay-btn btn-home">
                <img src="/img/Inicio.png" alt="Home">
            </a>

            <!-- REINTENTAR -->
            <button class="overlay-btn btn-reintentar" onclick="location.reload();">
                <img src="/img/Reintentar.png" alt="Reintentar">
            </button>

            <!-- SIGUIENTE NIVEL -->
            <a asp-controller="Home" asp-action="Nivel2" class="overlay-btn btn-siguiente">
                <img src="/img/siguiente.png" alt="Siguiente">
            </a>

        </div>
    </div>
</div>
<script src="~/js/nivel2.js"></script>